package main

import (
	"manoamaro.github.com/advent-of-code/pkg/aoc"
)

type INPUT  string
type RESULT int

var challenge = aoc.New({{.Year}}, {{.Day}}, parseInput, part1, part2)

func main() {
	challenge.Run()
}

func parseInput(input string) (INPUT, error) {
	return INPUT(input), nil
}

func part1(input INPUT) (RESULT, error) {
	return RESULT(0), nil
}

func part2(input INPUT) (RESULT, error) {
	return RESULT(0), nil
}
