package main

import (
    "manoamaro.github.com/advent-of-code/internal/aoc"
)

var challenge = aoc.New({{.Year}}, {{.Day}}, aoc.StringProcessor, part1, part2)

func main() {
	challenge.Run()
}

func part1(input string) int {
	return 0
}

func part2(input string) int {
	return 0
}
